body{
    font-family: 'Exo 2', sans-serif;
}
.container{
    background-image: url(../imagenes/MotoGP-21.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.contacts{
    max-width: 25em;
    padding: 1.3em;
    margin: 0 auto;
    background-color: rgba(120, 120, 120, 0.3);
    backdrop-filter: blur(8px); 
    color: white;
    font-weight: bold;
    border-radius: 0.5em;
    box-shadow: inset 1px 1px 22px 4px rgba(0, 0, 0, 0.85);
}
.principal-text{
    height: 200px;
    display: flex;
    align-items: center;
}

h1{
    font-size: 21px;
    color: white;
    font-weight: 300;
    text-align: center;
    line-height: normal;
}

.footer{
    background: #000;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
    .foot{
        text-align: center;   
    }
        .foot a{
            color: white;
            font-size: 11px;
            padding: 0 10px;
            letter-spacing: 2px;
        }